.title-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #a0a1a6;
  font-weight: 600;
  font-size: 13px;
}

.subtitles {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #bdbec4;
  font-size: 12px;
  font-weight: 600;
}

.menu-toggler {
  background-color: transparent;
  border: 0;
}

.item {
  padding-left: 5px;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
  color: #bdbec4;
  border-left: 1px solid #bdbec4;
}

.item:hover {
  color: #a0a1a6;
  transition: 0.25s ease;
}

.active-item {
  border-left: 2px solid #1289f8;
  color: #1289f8;
}
.active-item:hover {
  color: #1289f8;
}
