.layout {
  display: flex;
}

.doc-content {
  margin-top: 10vh;
  min-height: 50vh;
  padding: 50px 100px 40px 50px;
}

.doc-content > p {
  color: #bdbec4;
  font-size: 15px;
}
.mobile-menu-toggler {
  width: 100%;
  display: none;
  border-radius: 20px;
  padding: 5px 0;
  background-color: #eee;
  border: 1px solid #bdbec4;
}

@media (max-width: 600px) {
  .doc-content {
    padding: 25px 25px 20px 25px;
  }
  .mobile-menu-toggler {
    display: block;
  }
}
