.footer-doc hr {
    border-width: 0.5px;
    border-color: #eeeeee42;
    margin-bottom: 45px;
    
}

.footer-doc a {
    color: black;
    
}

.footer-doc {
    padding-left: 60px;
}

.footer-doc p {
    color: #a0a1a6;
}
